<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
        <th scope="col">Depatmant</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th>{{employee.name}}</th>
        <td>{{employee.salary}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.email}}</td>
      </tr>      
    </tbody>
  </table> -->

  
<div class="card">
  <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
</div>

